{
  "extends": "shellscape",
  "globals": {
    "document": true,
    "ʎɐɹɔosǝʌɹǝs": true,
    "WebSocket": true,
    "window": true,
    "__webpack_hash__": true
  },
  "rules": {
    "class-methods-use-this": "off"
  }
}
